#homePanel.panel
	div
		#tips
			span Team KOSK
			strong HyperLedger 
			span Fabric 
			strong Marbles 
			span Demo UI Modify ver.1.0

		#ownerWrap
			div#toolbarWrap
				.bottomAlign
					input(type="text" placeholder="Search Marble Owners" style="margin-left: 0; border-radius:2px;")#searchUsers.longer
					span.hint(style="margin-left: 10px; font-size: 16px;") 
						span#foundUsers 0
						span /
						span#totalUsers 0

				button(disabled="disabled")#showStartupPanel
					span.fa.fa-gears
					span &nbsp; Start Up Help
					
				span &nbsp;&nbsp;

				button(disabled="disabled")#showSettingsPanel
					span.fa.fa-gear
					span &nbsp; Settings
				
				#trashbin.sortable.innerMarbleWrap
					div.fa.fa-trash-o.fa-3x(style="vertical-align: middle;")
					span &nbsp;
					div#trashText Drag and drop marble to remove
			


		#allUserPanelsWrap
			#appStartingText Connecting...
